body{
    height: 100%;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    color: white;
    background-color: rgb(30, 157, 161);
    padding: 10px;
    border-radius: 5px;
}
a{
    text-align: center;
    margin-left: 150px;
    margin-right: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(30, 157, 161); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    text-decoration: none; /* Elimina el subrayado */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Redondea las esquinas del botón */
}

.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}

footer {
    width:100%;
    background-color: rgb(30, 157, 161);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
}


.ico, .icopy{
    max-width: 40px;
}

.rrss{
    display: flex;
    flex-direction: column;
    color: black;
}

.ico{
    max-width:40px;
    margin-left: 20px;
}
.rrss-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rrss p{
    margin-right: 1100px;
}

.copy{
    display: flex;
    flex-direction: row;
    color: black;
    margin-left: 480px;
}

.icopy{
    max-width: 20px;
}

.copy-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}